div,
section,
.topMenu,
body,
.footer {
  /* border: 1px solid blue; */
  padding: 0.75em;
  margin: 1%;
  display: table; /*kutular ustuste gelemsin diye*/
  box-sizing: border-box; /*kutularin esit dagilimi icin*/
}

body {
  width: 80%; /*ana body ortaya gelsin diye*/
  margin-left: auto; /*iki kenardan esit bosluk birakiyor*/
  margin-right: auto;
}

html {
  background: repeating-linear-gradient(90deg, #fff, #fff 12.5%, #000 12.6%, #000 7px);
}

.topMenu p {
  font-size: 15px !important;
  width: 80%;
}
h2 {
  font-weight: normal;
}
.hidden-menu1,
.site-header,
.showCase {
  width: calc(94% / 3); /*ucte bir alan kaplasin diye*/
  /* font-size: 1.375em; */
  /* letter-spacing: -0.0625em;
  margin-top: -0.125rem;
  padding-top: 0; */
}

/* .hidden-menu {
  line-height: 30px !important;
} */

.hidden-menu2,
.menuContent,
.showMenu,
.latestPost,
footer {
  width: calc((94% / 3) * 2); /*bu uc kutu ucte 2 genisliginde olsun*/
}

.latestPost,
footer {
  float: right; /*bu iki kutu saga dayali olsun*/
  font-size: 7px;
  line-height: 20px;
}

.topMenu {
  float: left; /*bu iki kutu saga dayali olsun*/
  height: 15px;
}

p,
ul,
/* li, */
/* h4, */
h3,
a {
  font-size: 12px;
  color: #222;
  font-family: 'AktivGroteskW01-Regular', sans-serif;
}

a:hover,
h3:hover {
  color: black;
  text-decoration: underline;
}

.mainContainer {
  width: 98%; /* en yukardaki marginden dolayi 2% azalip kalan 98% kalan kismi ana bady*/
}

.design {
  width: calc(100% / 3); /*clasi desing olan div; ucte bir yer kaplasin*/
  margin: 0 !important; /*kenar boslugu olmasin diye margin 0 ve herhangi bisey 
  onune gecmesin diye imp yaziyoruz*/
  padding: 0 !important;
  float: left; /*butun resimler kendi alanlarinin soluna dogru siralansin*/
}

img {
  box-sizing: border-box; /*resim kucuk yada buyuk te olsa yerine tam sigmasi icin*/
  width: 100%;
  padding: 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.imageWrapper img {
  display: block;
}
.imageWrapper .cornerLink {
  /*invisible link on the img*/
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  /* padding-top: 10px;
  padding-left: 10px; */
  color: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: opacity 500ms;
}
.imageWrapper:hover .cornerLink {
  opacity: 0.8;
}

.imageWrapper:hover img {
  filter: none;
}

.footer-row,
.postContent {
  width: 25%;
  margin: 0;
  float: left;
  text-decoration: none;
}

.postContent a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.drop {
  cursor: pointer;
  display: block;
}

input[type='checkbox'] {
  display: none; /* hide the checkboxes */
}

input + .drop + div {
  display: none;
}

input:checked + .drop + div {
  display: block;
}

.tag-menu,
.filter-menu {
  float: left;
  font-size: 8px;
  /* background-color: red; */
}

.filter-menu {
  width: 47%;
}

.tag-menu {
  width: 23%;
  margin: 0;
  padding: 0;
}
.hidden-menu {
  float: left;
}

ul {
  padding-inline-start: 0px;
  line-height: 25px;
}

.footer h4,
.footer p,
.footer a {
  font-size: 0.625rem;
  color: #888;
}

.latestPost,
h4 {
  font-size: 13px;
}
